.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 198px;
}

.shapefill {
  fill: #f5f5f5;
}

.shapefill2 {
  fill: #ffffff;
}
